
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  padding: 20px;
  background-color: #f8f9fa;
}

.form-search {
  display: flex;
  padding: 36px 0px 32px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-search input {
  width: 272px;
  height: 40px;
  color: #808080;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  background: #FFF;

}

.form-search input :hover {
  border: 1px solid #000;
}

.form-search button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: 91px;
  height: 40px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  border: none;
  background: #4E75FF;
}

.form-search button:hover {
  background: #6C8CFF;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;

}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  /* width: 100%; */
  max-width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

a {
  display: inline-block;
  height: 232px;
}

;

.gallery-image {
  height: 152px;
  object-fit: cover;
}

.info {
  padding: 4px 20px;
  display: flex;
  gap: 4px;
  text-align: center;

}

.info-item {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.info-comment {
  font-weight: 600;
  line-height: 1.33;
}

.loader.hidden {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.btn {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4E75FF;
border-radius: 8px;
color: #fff;
cursor: pointer;
  }
  
.btn:hover {
  background-color: #6C8CFF;
}
.btn-hidden {
  display: none;
}
    